# 2023與2022QS排名比較與分析

0. （純粹好奇）師大在2022與2023的排名比較？
1. 哪些國家在2023年從100名外進入100內？哪些國家在2023年從100名內進入100外？及其它子問題。
2. In 2022, 根據region, 100名內學校在各個region的比例是多少？
3. In 2022, 在每一個region，有多少%的大學可以進入前100名？
4. 把兩年皆在百名內的學校，放到同一個table，顯示校名、2022排名、2023排名

#### For The Future
* 列出2023是進步的學校、是退步的學校
* 分析進步的學校、退步的學校來自哪個region的比例最高
* 進步學校數 VS 退步學校數

In [1]:
import pandas as pd

## 取得資料

In [9]:
# 2023
# 使用 pandas 的 read_csv 函式讀取 CSV 檔案並將其轉換為 DataFrame
df_2023 = pd.read_csv('2023_r.csv')
df_2023.head()

,Rank,Institution,LocationCode,Location,ArScore,ArRank,ErScore,ErRank,FsrScore,FsrRank,...,CpfRank,IfrScore,IfrRank,IsrScore,IsrRank,IrnScore,IrnRank,GerScore,GerRank,ScoreScaled
0,1,Massachusetts Institute of Technology (MIT),US,United States,100.0,5,100.0,4,100.0,14,...,5,100.0,54,90.0,109,96.1,58,100.0,3,100
1,2,University of Cambridge,UK,United Kingdom,100.0,2,100.0,2,100.0,11,...,55,100.0,60,96.3,70,99.5,6,100.0,9,98.8
2,3,Stanford University,US,United States,100.0,4,100.0,5,100.0,6,...,9,99.8,74,60.3,235,96.3,55,100.0,2,98.5
3,4,University of Oxford,UK,United Kingdom,100.0,3,100.0,3,100.0,8,...,64,98.8,101,98.4,54,99.9,3,100.0,7,98.4
4,5,Harvard University,US,United States,100.0,1,100.0,1,99.4,35,...,2,76.9,228,66.9,212,100.0,1,100.0,1,97.6

In [8]:
# 2022
# 使用 pandas 的 read_csv 函式讀取 CSV 檔案並將其轉換為 DataFrame
df_2022 = pd.read_csv('2022_r.csv')
df_2022.head()

,year,rank_display,university,score,link,country,city,region,logo
0,2022,1,Massachusetts Institute of Technology (MIT),100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...
1,2022,2,University of Oxford,99.5,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...
2,2022,=3,Stanford University,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...
3,2022,=3,University of Cambridge,98.7,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...
4,2022,5,Harvard University,98.0,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...

## 0.（純粹好奇）師大在2022與2023的排名比較？

In [63]:
# 2023

name_to_find = 'National Taiwan Normal University'

# 使用條件選擇找到符合條件的行
filtered_rows = df_2023[df_2023['Institution'] == name_to_find]

# 從符合條件的行中提取Rank的資料
result_data = filtered_rows['Rank']

# 打印結果
print(result_data)

331    332
Name: Rank, dtype: int64

In [65]:
# 2022

# 使用條件選擇找到符合條件的行
filtered_rows = df_2022[df_2022['university'] == name_to_find]

# 從符合條件的行中提取Rank的資料
result_data = filtered_rows['rank_display']

# 打印結果
print(result_data)

335    =334
Name: rank_display, dtype: object

## 1. 哪些國家在2023年從100名外進入100內？哪些國家在2023年從100名內進入100外？及其它子問題。

In [10]:
# 從 DataFrame 中取出大學名稱欄位
uni_names_2023 = df_2023['Institution']
uni_names_2022 = df_2022['university']


# 將大學名稱轉換為 set 資料型態
uni_names_2023_set = set(uni_names_2023)
uni_names_2022_set = set(uni_names_2022)

# 取得2023參與QS的總校數
#print(uni_names_2023_set)
print(len(uni_names_2023_set))

# 取得2023參與QS的總校數
#print(uni_names_2022_set)
print(len(uni_names_2022_set))

1422
1300

In [12]:
#2022在，但2023不在 QS名單內的學校 及 數量
in22_23out = len(uni_names_2022_set - uni_names_2023_set)

print(in22_23out)
print(uni_names_2022_set - uni_names_2023_set)

25
{'Indian Institute of Information Technology, Allahabad', 'MGIMO School of Business and International Proficiency', "Université Côte d'Azur", 'Université de Paris', 'Universidad Nacional de Tucumà¡n', 'Universidad Nacional Autónoma de México  (UNAM)', 'S. Toraighyrov Pavlodar State University', 'Universidad de Panamá - UP', 'Universitatea de Vest din Timisoara /  West University of Timisoara', 'Sciences Po', 'National Technical University  "Kharkiv Polytechnic Institute"', 'Universidad Nacional Costa Rica', 'Vilnius Gediminas Technical University (VILNIUS TECH)', 'Universität  Leipzig', 'Khalifa University', 'Sungkyunkwan University (SKKU)', 'Ryerson University', "King Mongkut's Institute of Technology Ladkrabang", 'Smith College', 'Ulm University', 'Università di Padova', 'Pontificia Universidad Catolica del Peru', 'Bogaziçi Üniversitesi', 'Universidad Autonoma Chapingo', 'Università Cattolica del Sacro Cuore'}

In [13]:
#2023在，但2022不在 QS名單內的學校 及 數量

in23_22out = len(uni_names_2023_set - uni_names_2022_set)
print(in23_22out)
print(uni_names_2023_set - uni_names_2022_set)

147
{'Vancouver Island University', 'California State University - Los Angeles', 'St. Louis University', 'Toronto Metropolitan University', 'Humboldt State University', 'Universidad Nacional, Costa Rica', 'Universidad Latinoamericana de Ciencia y Tecnología Costa Rica (ULACIT)', 'Ocean University of China', 'University of South Bohemia', 'Mykolas Romeris University', 'Odessa I.I. Mechnikov National University', 'University of Louisville', 'China University of Mining and Technology', "Sungshin Women's University", 'University of Missouri Saint Louis', "King Mongkut\\'s Institute of Technology Ladkrabang", 'Fundación Universidad De Bogotá-Jorge Tadeo Lozano', 'Universidade do Estado de Santa Catarina', 'Chandigarh University', 'Universidad de Santander - UDES', 'Universidad Popular Autónoma del Estado de Puebla (UPAEP)', 'Khoja Akhmet Yassawi International Kazakh-Turkish University', 'University of Memphis', 'Universidad Michoacana de San Nicolás de Hidalgo', 'Universidade Presbiteriana Mackenzie', 'Universidad Nacional de Tucumán', 'University of Regina', 'Universidad de Caldas', 'Universidade Federal do Parà - UFPA', 'Universidad Autónoma de Aguascalientes', 'Universiti Pendidikan Sultan Idris (UPSI)', 'University of Northern British Columbia', 'Sathyabama Institute of Science and Technology (deemed to be university)', 'Universidad Central de Chile', 'National Institute of Technology Tiruchirappalli', 'Kwansei Gakuin University', 'University of Peshawar', 'Universidad Mayor de San Simón Cochabamba', 'University of Alaska Fairbanks', 'Università\xa0di Padova', 'Duy Tan University', 'International Islamic University Islamabad (IIU)', 'Shanghai Normal University', 'Zhengzhou University', 'Future University in Egypt', 'CEU Universities', 'Kharkiv National University of Radio Electronics ', 'Universidad del Zulia', 'Jiangnan University', 'Nova Southeastern University', 'CUNY The City College of New York', 'Universidad Nacional Autónoma de México (UNAM)', 'Universidad Autónoma Chapingo', 'Universidad Tecnica Particular De Loja (UPTL)', 'Russian-Armenian (Slavonic) State University', 'University of Central Oklahoma', 'Universitatea de Vest din Timisoara / West University of Timisoara', 'Universidad de Carabobo', 'Sciences Po ', 'Nanjing Agricultural University', 'Universidade Federal de Uberlândia', 'Universidad del Valle de Mexico (UVM)', 'Kyrgyz-Turkish Manas University', 'Universiti Tun Hussein Onn University of Malaysia (UTHM)', 'Universidad Veracruzana', 'Universidade Federal do Rio Grande Do Norte', 'Università\xa0Cattolica del Sacro Cuore', 'University of Toledo', 'University Ulm', 'Beijing University of Chemical Technology', 'University of Hawaii at Hilo', 'Asia University Taiwan', 'University of Warmia and Mazury in Olsztyn', 'Wesleyan University', 'Sungkyunkwan University(SKKU)', 'University of Madras', 'Rutgers, The State University of New Jersey, Camden', 'Universidad Autónoma de Guadalajara (UAG)', 'University of Alabama, Birmingham', 'Universidad del Magdalena', 'San Francisco State University', 'Pontificia Universidade Católica do Campinas - PUC Campinas', 'University of Dubai', 'Pontificia Universidad Católica del Perú', 'Instituto Tecnológico de Santo Domingo (INTEC)', 'Swarthmore College', 'Khalifa University of Science and Technology', 'Vilnius Gediminas Technical University', 'Universidad Católica de Temuco', 'Central Michigan University', 'Indian Institute of Technology Indore (IIT Indore)', 'Ahlia University', 'Université Paris Cité', 'University of Craiova', 'National University of Life and Environmental Sciences of Ukraine', 'Illinois State University', 'Universidad de San Carlos de Guatemala - USAC', 'Universidad de Panama', 'Poznan University of Life Sciences', 'National Technical University "Kharkiv Polytechnic Institute"', 'Universidad de Cuenca', 'Alfaisal University', 'Hohai University', 'Gebze Yüksek Teknoloji Enstitüsü (GYTE)', 'Universität Leipzig', 'Boğaziçi University', 'Colegio de México', 'California Polytechnic State University', 'Cleveland State University', 'Universidad de Las Américas (UDLA) Ecuador', "Université Côte d\\'Azur", 'Huazhong Agricultural University', 'Northwest Agriculture and Forestry University', 'Universidad Católica de La Santísima Concepción - UCSC', 'Soongsil University', 'Northern Borders University', 'Universidad del Cauca', 'Almaty Technological University', 'Ritsumeikan Asia Pacific University', 'Pontificia Universidade Católica do Minas Gerais - PUC Minas', 'Universidad de Valladolid', 'Nanjing Normal University', 'Pontificia Universidad Catolica Madre y Maestra', 'University of North Carolina at Greensboro', 'Universidad de Tarapaca', 'Donghua University', 'University of Rzeszów', 'Universidad Nacional del Comahue', 'University of Oradea', 'Universidad La Salle (ULSA)', 'China University of Petroleum', 'Erciyes Üniversitesi', 'Indian Institute of Technology (BHU) Varanasi', 'University of Idaho', 'Toraighyrov University', 'University of Primorska', 'Óbuda University', 'MGIMO University', 'Western Washington University', 'University of Pannonia', 'Shoolini University of Biotechnology and Management Sciences', 'Universidad de Piura', 'Ataturk University', 'Universidade Federal do Estado do Rio de Janeiro - UNIRIO', 'Universidad de Oriente Santiago de Cuba', 'California State University Long Beach', 'Universidad de Cartagena'}

In [14]:
print(len(uni_names_2023_set) - len(uni_names_2022_set))
print(in23_22out - in22_23out)

122
122

### 由上述可知資料正確（2023總數減去2022總數 == 2023新增數量 - 2023減少數量）

## 只取前一百名比較

In [15]:
df_2023_100 = df_2023.head(100)
df_2022_100 = df_2022.head(100)

In [16]:
uni_names_2023_100 = df_2023_100['Institution']
uni_names_2022_100 = df_2022_100['university']

uni_names_2023_100_set = set(uni_names_2023_100)
uni_names_2022_100_set = set(uni_names_2022_100)

In [17]:
#2023、2022皆在QS名單100名內的學校 及 數量
print(len(uni_names_2023_100_set & uni_names_2022_100_set))
print(uni_names_2023_100_set & uni_names_2022_100_set)

98
{'Tohoku University', 'Nanyang Technological University, Singapore (NTU)', 'The London School of Economics and Political Science (LSE)', 'University of Leeds', 'University of Pennsylvania', 'Columbia University', 'The University of Manchester', 'University of Bristol', 'University of Chicago', 'Cornell University', 'California Institute of Technology (Caltech)', 'National University of Singapore (NUS)', 'Fudan University', 'Technical University of Munich', 'University of Wisconsin-Madison', 'University of Washington', 'Yonsei University', 'The Chinese University of Hong Kong (CUHK)', 'Carnegie Mellon University', 'The Hong Kong University of Science and Technology', 'Brown University', "King's College London", 'Rice University', 'Seoul National University', 'Lomonosov Moscow State University', 'Zhejiang University', 'University of Michigan-Ann Arbor', 'The University of Queensland', 'Johns Hopkins University', 'Institut Polytechnique de Paris', 'Harvard University', 'Ruprecht-Karls-Universität Heidelberg', 'Duke University', 'Tsinghua University', 'The University of Tokyo', 'City University of Hong Kong', 'Lund University', 'University of British Columbia', 'Pennsylvania State University', 'New York University (NYU)', 'Northwestern University', 'Universidad de Buenos Aires (UBA)', 'The Australian National University', 'University of Southampton', 'University of Toronto', 'Ludwig-Maximilians-Universität München', 'National Taiwan University (NTU)', 'University of Cambridge', 'The University of Auckland', 'Imperial College London', 'The University of New South Wales (UNSW Sydney)', 'Monash University', 'University of Texas at Austin', 'Massachusetts Institute of Technology (MIT) ', 'The University of Hong Kong', 'University of Birmingham', 'Peking University', 'KAIST - Korea Advanced Institute of Science & Technology', 'Universiti Malaya (UM)', 'University of Oxford', 'The University of Sheffield', 'The University of Melbourne', 'KTH Royal Institute of Technology ', 'Princeton University', 'Delft University of Technology', 'Pohang University of Science And Technology (POSTECH)', 'University of Illinois at Urbana-Champaign', 'University of California, Berkeley (UCB)', 'KU Leuven', 'The University of Western Australia', 'EPFL', 'The University of Edinburgh', 'University of Zurich', 'University of California, San Diego (UCSD)', 'Tokyo Institute of Technology (Tokyo Tech)', 'University of Glasgow', 'Durham University', 'University of California, Los Angeles (UCLA)', 'Osaka University', 'University of Amsterdam', 'Yale University', 'Kyoto University', 'UCL', 'Université Paris-Saclay', 'Université PSL', 'University of Science and Technology of China', 'The University of Warwick', 'Sorbonne University', 'ETH Zurich - Swiss Federal Institute of Technology', 'The Hong Kong Polytechnic University', 'Shanghai Jiao Tong University', 'The University of Sydney', 'Stanford University', 'Georgia Institute of Technology', 'McGill University', 'University of St Andrews', 'Korea University', 'University of Copenhagen'}

In [18]:
print(len(uni_names_2022_100_set))
print(len(uni_names_2023_100_set))

100
100

In [19]:
#2022在，但2023不在 QS名單100名內的學校 及 數量
print(len(uni_names_2022_100_set - uni_names_2023_100_set))
print(uni_names_2022_100_set - uni_names_2023_100_set)

2
{'Technical University of Denmark', 'Sungkyunkwan University (SKKU)'}

In [20]:
#2023在，但2022不在 QS名單100內的學校 及 數量
print(len(uni_names_2023_100_set - uni_names_2022_100_set))
print(uni_names_2023_100_set - uni_names_2022_100_set)

2
{'Trinity College Dublin, The University of Dublin', 'Sungkyunkwan University(SKKU)'}

#### 出現問題：名單及數量不符合邏輯

* 使用以下方式來處理格式一致性和拼寫正確性
    * 格式一致性：確保您的 uni_names_2022_100_set 和 uni_names_2023_100_set 中的學校名稱具有一致的格式，包括大小寫和空格。您可以使用字串操作來標準化名稱的格式，以確保比較準確。
    * 拼寫正確性：檢查學校名稱的拼寫是否完全相同。拼寫不一致可能會導致比較失敗。您可以使用字典或模糊匹配算法來處理拼寫不一致的情況。

In [21]:
# 將學校名稱轉為小寫並去除空格
uni_names_2022_100_set = {name.strip().lower() for name in uni_names_2022_100_set}
uni_names_2023_100_set = {name.strip().lower() for name in uni_names_2023_100_set}

# 找到2022在，但2023不在 QS名單100名內的學校
not_in_2023 = uni_names_2022_100_set - uni_names_2023_100_set

# 找到2023在，但2022不在 QS名單100內的學校
not_in_2022 = uni_names_2023_100_set - uni_names_2022_100_set

print(not_in_2023)
print(not_in_2022)

{'technical university of denmark', 'sungkyunkwan university (skku)'}
{'sungkyunkwan university(skku)', 'trinity college dublin, the university of dublin'}

#### 出現問題：名單及數量仍然不符合邏輯

* 將學校名稱轉為小寫，同時移除括號

In [23]:
# 將學校名稱轉為小寫，同時移除括號
def normalize_name(name):
    name = name.lower()
    name = name.replace('(', '').replace(')', '').strip()
    return name

uni_names_2022_100_set = {normalize_name(name) for name in uni_names_2022_100_set}
uni_names_2023_100_set = {normalize_name(name) for name in uni_names_2023_100_set}

# 找到2022在，但2023不在 QS名單100名內的學校
not_in_2023 = uni_names_2022_100_set - uni_names_2023_100_set

# 找到2023在，但2022不在 QS名單100內的學校
not_in_2022 = uni_names_2023_100_set - uni_names_2022_100_set

print(not_in_2023)
print(not_in_2022)

{'technical university of denmark', 'sungkyunkwan university skku'}
{'sungkyunkwan universityskku', 'trinity college dublin, the university of dublin'}

#### 處理sungkyunkwan university skku 和 sungkyunkwan universityskku 的問題

In [24]:
# 將學校名稱轉為小寫，同時移除空格和連接字元
def normalize_name(name):
    name = name.lower()
    name = name.replace(' ', '').replace('-', '').strip()
    return name

uni_names_2022_100_set = {normalize_name(name) for name in uni_names_2022_100_set}
uni_names_2023_100_set = {normalize_name(name) for name in uni_names_2023_100_set}

# 找到2022在，但2023不在 QS名單100名內的學校
not_in_2023 = uni_names_2022_100_set - uni_names_2023_100_set

# 找到2023在，但2022不在 QS名單100內的學校
not_in_2022 = uni_names_2023_100_set - uni_names_2022_100_set

print(not_in_2023)
print(not_in_2022)

{'technicaluniversityofdenmark'}
{'trinitycollegedublin,theuniversityofdublin'}

#### 重新檢查

In [26]:
#2022在，但2023不在 QS名單100名內的學校 及 數量
print(len(uni_names_2022_100_set - uni_names_2023_100_set))
print(uni_names_2022_100_set - uni_names_2023_100_set)

1
{'technicaluniversityofdenmark'}

In [32]:
#2023在，但2022不在 QS名單100內的學校 及 數量
print(len(uni_names_2023_100_set - uni_names_2022_100_set))
print(uni_names_2023_100_set - uni_names_2022_100_set)

1
{'trinitycollegedublin,theuniversityofdublin'}

In [33]:
#2023、2022皆在QS名單100名內的學校 及 數量
print(len(uni_names_2023_100_set & uni_names_2022_100_set))
print(uni_names_2023_100_set & uni_names_2022_100_set)

99
{'universitépsl', 'ethzurichswissfederalinstituteoftechnology', 'nationaltaiwanuniversityntu', 'theuniversityofhongkong', 'universityofzurich', 'universityofbirmingham', 'columbiauniversity', 'kthroyalinstituteoftechnology', 'shanghaijiaotonguniversity', 'stanforduniversity', 'carnegiemellonuniversity', 'universityofscienceandtechnologyofchina', 'nanyangtechnologicaluniversity,singaporentu', 'universityofchicago', 'epfl', 'universityoftoronto', 'universityofillinoisaturbanachampaign', 'dukeuniversity', 'harvarduniversity', 'fudanuniversity', 'californiainstituteoftechnologycaltech', 'universityofcalifornia,sandiegoucsd', 'universityofmichiganannarbor', 'monashuniversity', 'universitéparissaclay', 'seoulnationaluniversity', 'technicaluniversityofmunich', 'imperialcollegelondon', 'theuniversityofmelbourne', 'universidaddebuenosairesuba', 'lunduniversity', 'sungkyunkwanuniversityskku', 'universityofcalifornia,berkeleyucb', 'cornelluniversity', 'universityofpennsylvania', 'northwesternuniversity', 'theuniversityofsydney', 'newyorkuniversitynyu', 'johnshopkinsuniversity', 'koreauniversity', 'tokyoinstituteoftechnologytokyotech', 'ucl', 'riceuniversity', 'universityofleeds', 'lomonosovmoscowstateuniversity', 'mcgilluniversity', 'georgiainstituteoftechnology', 'theuniversityofmanchester', 'theuniversityofwesternaustralia', 'yaleuniversity', 'pohanguniversityofscienceandtechnologypostech', 'theuniversityofauckland', 'universityofsouthampton', 'kyotouniversity', 'thehongkonguniversityofscienceandtechnology', 'universityofcalifornia,losangelesucla', 'theuniversityofwarwick', 'massachusettsinstituteoftechnologymit', 'delftuniversityoftechnology', 'universityofbristol', 'princetonuniversity', 'universityofcambridge', 'theuniversityofqueensland', 'universityoftexasataustin', 'osakauniversity', 'institutpolytechniquedeparis', 'ludwigmaximiliansuniversitätmünchen', 'universityofwashington', 'tsinghuauniversity', 'universityofstandrews', 'universityofwisconsinmadison', 'thelondonschoolofeconomicsandpoliticalsciencelse', 'ruprechtkarlsuniversitätheidelberg', 'theuniversityoftokyo', 'thechineseuniversityofhongkongcuhk', 'universityofamsterdam', 'tohokuuniversity', 'theuniversityofsheffield', 'universityofcopenhagen', 'universityofglasgow', 'theuniversityofedinburgh', 'brownuniversity', 'pekinguniversity', 'durhamuniversity', 'zhejianguniversity', 'pennsylvaniastateuniversity', 'nationaluniversityofsingaporenus', "king'scollegelondon", 'theaustraliannationaluniversity', 'thehongkongpolytechnicuniversity', 'sorbonneuniversity', 'universityofbritishcolumbia', 'universitimalayaum', 'kaistkoreaadvancedinstituteofscience&technology', 'universityofoxford', 'cityuniversityofhongkong', 'theuniversityofnewsouthwalesunswsydney', 'yonseiuniversity', 'kuleuven'}

## 2. In 2022, 根據region, 100名內學校在各個region的比例是多少？

In [36]:
region = df_2022['region'].unique()
print(region)

['North America' 'Europe' 'Asia' 'Oceania' 'Latin America' 'Africa']

In [41]:
amounts = df_2022['region'].value_counts()
print(amounts)

Europe           468
Asia             399
North America    205
Latin America    151
Oceania           46
Africa            31
Name: region, dtype: int64

In [44]:
amounts_100 = df_2022_100['region'].value_counts()
print(amounts_100)

Europe           35
North America    30
Asia             26
Oceania           8
Latin America     1
Name: region, dtype: int64

#### 確認datatype以將其存成dictionary

In [50]:
print(type(amounts_100))

<class 'pandas.core.series.Series'>

In [51]:
amounts_dict = amounts.to_dict()
print(amounts_dict)

{'Europe': 468, 'Asia': 399, 'North America': 205, 'Latin America': 151, 'Oceania': 46, 'Africa': 31}

In [52]:
amounts_100_dict = amounts_100.to_dict()
print(amounts_100_dict)

{'Europe': 35, 'North America': 30, 'Asia': 26, 'Oceania': 8, 'Latin America': 1}

## 3. 每個region有多少比例的QS前百大學

#### dictionary要記得對key再取value

In [66]:
ratios = {}

# 遍歷第一個字典的鍵值對
for key, value1 in amounts_dict.items():
    # 檢查第二個字典是否有相同的鍵
    if key in amounts_100_dict:
        # 計算比例並存儲到新字典中
        ratio = f'{amounts_100_dict[key]}/{value1}'
        ratios[key] = ratio

print(ratios)

{'Europe': '35/468', 'Asia': '26/399', 'North America': '30/205', 'Latin America': '1/151', 'Oceania': '8/46'}

In [67]:
# 創建一個空字典來存儲百分比
percentages = {}

# 遍歷第一個字典的鍵值對
for key, value1 in amounts_dict.items():
    # 檢查第二個字典是否有相同的鍵
    if key in amounts_100_dict:
        # 計算百分比並存儲到新字典中
        ratio = (amounts_100_dict[key] / value1) * 100
        percentages[key] = ratio

print(percentages)

{'Europe': 7.478632478632479, 'Asia': 6.516290726817042, 'North America': 14.634146341463413, 'Latin America': 0.6622516556291391, 'Oceania': 17.391304347826086}

## 4. 把兩年皆在百名內的學校，放到同一個table，顯示校名、2022排名、2023排名

### 確保兩個df的column names一致

In [111]:
column_names_2022 = df_2022_100.columns.tolist()
print(column_names_2022)

['year', 'rank_2022', 'university', 'score', 'link', 'country', 'city', 'region', 'logo']

In [112]:
df_2022_100.columns = ['year', 'rank_2022', 'university', 'score', 'link', 'country', 'city', 'region', 'logo']

In [113]:
column_names_2023 = df_2023_100.columns.tolist()
print(column_names_2023)

['rank_2023', 'university', 'LocationCode', 'country', 'ArScore', 'ArRank', 'ErScore', 'ErRank', 'FsrScore', 'FsrRank', 'CpfScore', 'CpfRank', 'IfrScore', 'IfrRank', 'IsrScore', 'IsrRank', 'IrnScore', 'IrnRank', 'GerScore', 'GerRank', 'ScoreScaled']

In [114]:
df_2023_100.columns = ['rank_2023', 'university', 'LocationCode', 'country', 'ArScore', 'ArRank', 'ErScore', 'ErRank', 'FsrScore', 'FsrRank', 'CpfScore', 'CpfRank', 'IfrScore', 'IfrRank', 'IsrScore', 'IsrRank', 'IrnScore', 'IrnRank', 'GerScore', 'GerRank', 'ScoreScaled']

In [115]:
# 使用merge方法將兩個DataFrame合併
merged_df = pd.merge(df_2022_100, df_2023_100, on='university', suffixes=('_2022', '_2023'))

# 選擇要顯示的列，包括校名、2022年排名和2023年排名
result_df = merged_df[['university', 'rank_2022', 'rank_2023']]

print(result_df)

                                       university rank_2022  rank_2023
0    Massachusetts Institute of Technology (MIT)          1          1
1                            University of Oxford         2          4
2                             Stanford University        =3          3
3                         University of Cambridge        =3          2
4                              Harvard University         5          5
..                                            ...       ...        ...
93            The University of Western Australia        93         90
94                                Rice University        94        100
95                    The University of Sheffield        95         96
96                  Pennsylvania State University        96         93
97  University of Science and Technology of China        98         94

[98 rows x 3 columns]

## For The Future

* 列出2023是進步的學校、是退步的學校
* 分析進步的學校、退步的學校來自哪個region的比例最高
* 進步學校數 VS 退步學校數